@import url(http://fonts.googleapis.com/css?family=Sanchez);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  background: url("http://subtlepatterns.com/patterns/45degreee_fabric.png") repeat scroll 0% 0% transparent; }

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1em; }

p {
  font-family: 'Sanchez', serif; }

ul > li > a {
  color: #A19B88;
  transition: all 1s ease;
  text-transform: uppercase; }
  ul > li > a:hover {
    color: #CA0700; }

.active {
  color: #3E3F41; }

.button {
  background-color: #A19B88;
  transition: all 1s ease;
  font-family: 'Sanchez', serif; }
  .button:hover {
    background-color: #CA0700; }

.font-change-sans-serif {
  font-family: 'Open Sans', sans-serif; }

#header_container {
  height: 12%;
  width: 100%; }

.logo_container #logo {
  position: absolute;
  width: 85px; }

#nav {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 1.25em;
  opacity: 0; }

.home_background {
  background-image: url("../images/forrest.jpg");
  background-position: -100px;
  width: 60%;
  height: 120%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat; }

.home_text_container {
  margin-top: 20px;
  padding: 40px;
  background-color: #F7F7F7;
  margin-left: 30px; }

#home-text {
  line-height: 1.65em; }

#home_work-button {
  float: right;
  margin-top: 20px;
  background-color: #CA0700;
  border: 2px solid transparent;
  transition: all 0.5s ease; }
  #home_work-button:hover {
    color: #CA0700;
    background-color: transparent;
    border: 2px solid #CA0700; }

#home_contact-button {
  float: right;
  margin-top: 20px;
  background-color: #CA0700;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  opacity: 0;
  position: relative;
  right: -227px;
  top: 117px; }
  #home_contact-button:hover {
    color: #F7F7F7;
    background-color: #970500; }

#home_process-button {
  position: absolute;
  bottom: -20px;
  width: 36%;
  height: 80px;
  padding-top: 32px;
  margin-left: 2%;
  background-color: #A19B88;
  color: #F7F7F7; }
  #home_process-button:hover {
    background-color: #2C2918;
    color: #F7F7F7; }

/* Process SCSS */
.process_container {
  width: 100%;
  background: url("http://subtlepatterns.com/patterns/sandpaper.png") repeat scroll 0% 0% transparent;
  z-index: 10;
  position: absolute;
  top: 100%; }

#home_return-link {
  color: #640300;
  background-color: #F7F7F7;
  font-size: 1em;
  transition: all 1s ease;
  font-size: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  position: absolute;
  top: 0;
  z-index: 100; }
  #home_return-link:hover {
    color: #CA0700; }

.process_left_container-title {
  background-color: #F7F7F7;
  height: 100px; }

.process_left-title {
  color: #CA0700;
  text-align: center;
  padding-top: 2px;
  font-size: 1.2em;
  font-weight: 700; }

.process_left-step {
  color: #3E3F41;
  text-align: center;
  padding-top: 14px; }

.process_left_container-description {
  background-color: #3E3F41;
  float: left;
  position: absolute;
  top: 200px;
  z-index: 10; }
  .process_left_container-description p {
    color: #F7F7F7;
    padding: 20px;
    margin-top: 12px; }

.process_right_container-title {
  background-color: #F7F7F7;
  height: 100px; }

.process_right-title {
  color: #CA0700;
  text-align: center;
  padding-top: 2px;
  font-size: 1.2em;
  font-weight: 700; }

.process_right-step {
  color: #3E3F41;
  text-align: center;
  padding-top: 14px; }

.process_right_container-description {
  background-color: #3E3F41;
  float: right;
  margin-top: 20px;
  z-index: 10;
  width: 450px;
  position: relative;
  bottom: 342px; }
  .process_right_container-description p {
    color: #F7F7F7;
    padding: 20px;
    margin-top: 12px; }

#process_container-id {
  padding-top: 80px; }
  #process_container-id h2 {
    color: #CA0700;
    text-align: center;
    position: absolute;
    top: 10px; }

#process-main-title {
  text-transform: center;
  float: right;
  position: fixed;
  right: 20px;
  font-size: 1.5em;
  font-weight: 700; }

.process_right_container-image, .process_left_container-image {
  margin-bottom: 20px; }

.process-step-three {
  position: relative;
  bottom: 160px; }

.process_center_container-title {
  background-color: #F7F7F7;
  height: 200px;
  z-index: 10;
  position: absolute;
  left: 35%; }

.process_center_container-image {
  margin-top: 100px; }

.process_center-title {
  color: #CA0700;
  text-align: center;
  padding-top: 2px;
  font-size: 1.4em;
  font-weight: 700; }

.process_center-step {
  color: #3E3F41;
  text-align: center;
  padding-top: 60px; }

.process_center_container-description {
  background-color: #3E3F41;
  margin-top: 20px;
  z-index: 10;
  float: left;
  position: relative;
  bottom: 60px; }
  .process_center_container-description p {
    color: #F7F7F7;
    padding: 20px;
    margin-top: 12px; }

.process_container-buttons {
  position: relative;
  bottom: 140px;
  left: 25px; }

footer p {
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

.hide-text {
  opacity: 0; }

.contact_container {
  position: absolute;
  bottom: 20px;
  opacity: 0;
  width: 92%; }

.success-email-sent {
  color: #CA0700;
  font-weight: bold;
  position: fixed;
  top: 10px;
  opacity: 0;
  left: 180px; }

#name-input {
  background-color: #F7F7F7;
  border-bottom: 2px solid #CA0700;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none; }

#email-input {
  background-color: #F7F7F7;
  border-bottom: 2px solid #CA0700;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none; }

#message-input {
  background-color: #F7F7F7;
  border-bottom: 2px solid #CA0700;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  height: 180px; }

.work_project_container-title {
  padding: 40px;
  text-align: center;
  background-color: #F7F7F7;
  margin-bottom: 50px; }
  .work_project_container-title h3 {
    color: #CA0700;
    margin-bottom: 20px; }

.work_project_container-description {
  border-top: 2px solid #3E3F41;
  padding-top: 25px; }
  .work_project_container-description p {
    text-align: left; }

.icons_container {
  float: right;
  padding-top: 20px;
  color: #CA0700; }

.icons_work {
  margin-right: 25px; }
  .icons_work i {
    margin-right: 20px;
    font-size: 2em;
    float: right;
    position: relative;
    top: -12px; }

#contact-holder-work {
  opacity: 0;
  display: none; }

#name-input-work {
  background-color: #F7F7F7;
  border-bottom: 2px solid #CA0700;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none; }

#email-input-work {
  background-color: #F7F7F7;
  border-bottom: 2px solid #CA0700;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none; }

#message-input-work {
  background-color: #F7F7F7;
  border-bottom: 2px solid #CA0700;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  height: 180px; }

#work_contact-button:hover {
  color: #F7F7F7;
  background-color: #970500; }
